extends ../layout

block content
    .adminpanel-container
        .admin-sidebar
            ul
                li: a(href="/adminpanel/") Головна
                li: a(href="/adminpanel/adminpanel-trainings") Тренування
                li: a(href="/adminpanel/adminpanel-users") Користувачі
                li: a(href="/adminpanel/adminpanel-trainers") Тренери
                li: a(href="/adminpanel/adminpanel-programs") Програми
                li: a(href="/adminpanel/adminpanel-memberships") Абонементи
        .adminpanel-content
            h1 Список програм
            a(href="/programs/create" class="btn btn-primary") + Додати програму
            table.table
                thead
                    tr
                        th ID
                        th Назва
                        th Опис
                        th Тип
                        th Дії
                tbody
                    each program in programs
                        tr
                            td= program.id_program
                            td= program.name
                            td= program.description
                            td= program.type
                            td
                                .actions
                                    a(href=`/programs/edit/${program.id_program}`) Редагувати
                                    button(data-id=program.id_program class="delete-program-btn") Видалити
